.row {
    display: flex;
}

.period {
    display: none;
}

.arrondissement-info {
    display: none;
}

svg {
    overflow: visible !important;
    margin-bottom: 2em;
}

.arrow {
    color: #555;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow.disabled {
    color: #bbb;
    cursor: default;
}

.arrow:hover:not(.disabled) {
    background-color: rgba(0, 0, 0, 0.1);
}